html{
    margin: 0px;
}

.page1{
    width: 100%;
    display: flex;
    overflow: auto;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.subpage1{
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: flex-start;
    flex-shrink: 0;
    background-color: rgba(255, 255, 255, 1);
}

.top-circle{
    top: -2px;
    left: -1px;
    width: 100%;
    height: 15vh;
    display: flex;
    position: absolute;
    align-items: flex-start;
    flex-shrink: 1;
}

.rectangle1{
    top: 2px;
    left: 0px;
    width: 100%;
    height: 15vh;
    position: absolute;
    border-radius: 20px;
}

.text02{
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 80px;
    text-align: center;
    font-family: Londrina Shadow;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
    position: relative;
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.list1{
    top: 0px;
    left: 1800%;
    width: 76px;
    height: 76px;
    position: absolute;
}

.list2{
    top: 7px;
    left: 1809%;
    width: 62px;
    height: 62px;
    position: absolute;
}

.ellipse1{
    top: 0px;
    left: 0px;
    width: 76px;
    height: 76px;
    position: absolute;
}

.controller1{
    top: 7px;
    left: 7px;
    width: 62px;
    height: 62px;
    position: absolute;
}

.group3{
    top: 7px;
    right: 4%;
    width: 62px;
    height: 62px;
    position: absolute;
}

.group2{
    top: 7px;
    left: 3%;
    width: 62px;
    height: 62px;
    position: absolute;
}

.londrina-shadow-regular {
    font-family: "Londrina Shadow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rectangle6{
    top: 15vh;
    left: 0px;
    width: 100%;
    height: 70vh;
    position: absolute;
    border-radius: 25px;
}

.group8{
    top: 85vh;
    left: 0px;
    width: 100%;
    height: 15vh;
    display: flex;
    border-radius: 25px;
    position: absolute;
    align-items: center;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    flex-shrink: 1;
    background-color: rgba(146, 177, 186, 1);
}

.top-layer{
    top: 16vh;
    width: 100%;
    height: 15vh;
    display: flex;
    position: absolute;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 2%;
    padding-right: 2%;
    flex-shrink: 1;
}

.rectangle8{
    height: 10vh;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(205,146,56,255);
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 18px;
}

.rectangle9{
    height: 10vh;
    padding-left: 1%;
    padding-right: 1%;
    background-color: rgba(205,146,56,255);
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 4px;
    border-radius: 18px;
}

.text06{
    color: rgba(0, 0, 0, 1);
    font-size: 3rem;
    font-style: Regular;
    text-align: center;
    font-family: Londrina Shadow;
    font-weight: 400;
}

.main-game{
    position: relative;
    top: 28vh;
    height: 50vh;
    left: 10%;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    background-color: black;
    gap: 10px;
    padding: 1%;
    padding-right: none;
    perspective: 1000px;
}

.memory-card{
    transform-style: preserve-3d;
    width: 100%;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face{
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg) scale(0.8);
}

.back-face{
    transform: scale(0.8);
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.text3{
    color: rgba(0, 0, 0, 1);
    height: auto;
    font-size: 2.5rem;
    font-style: Regular;
    text-align: center;
    font-family: Londrina Shadow;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
}

.contact{
    background-color: rgb(217,217,217);
    border-radius: 50px;
    border: 4px solid black;
    width: 20%;
    height: 60%;
}

.about{
    background-color: rgb(217,217,217);
    border-radius: 50px;
    border: 4px solid black;
    width: 20%;
    height: 60%;
}